*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

body {
    color:  purple;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
position: relative;
font-size: 25px;
color: gold;
text-decoration: none;
font-weight: 600;
cursor: default;
opacity: 0;
animation: slideRight is ease forwards;
}
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: gold;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: SlideTop .5s ease forwards;
}
.navbar a:hover{
    color: palevioletreds;
}
.home {
    position: relative;
    width: 100px;
    justify-content: space-between;
    height: 100vh;
    background: url("assets/29045.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

}
.home-content {
    max-width: 600px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h3 span {
  color: beige
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p {
    font-size: 20px;
}
.home-sci {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: solid purple;
    border-radius: 50px;
    font-size: 20px;
    color:beige;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-sci a:hover {
    background: beige;
    color: palevioletred;
    box-shadow: 0 0 20px beige;
}
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: beige;
    border-radius: 40px;
    font-size: 16px;
    color: beige;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover {
    box-shadow: 0 0 5px palegreen,
    0 0 25px palegreen, 0 0 50px palegreen
    0 0 100px palegreen, 0 0 200px palegreen;
}

@keyframes slideRight {
    0% {
        transform: translatex(-100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translatex(-100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0px);
        opacity: 1;
    }
}